.orden {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    border: 10px solid;
    width: 400px;
}

.enviar{
color: rgb(221, 220, 233);
background:rgb(22, 24, 20);
width: 200px;
font-size: large;    
font-family: Cochin;
}

.orden div label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: x-large;
}