.listProducts {
display: flex;
flex-direction: column;
color: rgb(15, 14, 14);
background: white;
max-width: 50%;
margin: 2%;

}

.listImg{
    display: flex;
    justify-content: center;
}

.listImg img{
    max-width: 100%;
    max-height: 100%;
}
.listCompra{
display :grid;
background:rgb(214, 212, 212);
justify-content: center;
align-items: center;
 margin: 3%;
}



.listButton {
font-family: 'Gill Sans';
font-size: 120%;
font-weight: bold;
cursor: pointer;
}



