.buttonCounter{
   
    color: rgb(179, 173, 233);
    background:rgb(22, 24, 20);
    width: 30px;
    font-size: large;    
    font-family: Cochin;
}


.containerCount{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputCounter{
  
  width: 40px; 
    
}

.counter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonCarrito{
    color: rgb(221, 220, 233);
    background:rgb(22, 24, 20);
    width: 200px;
    font-size: large;    
    font-family: Cochin;

}