 .card{
display: inline-flex;
flex-direction: column;
color: rgb(15, 15, 15);
background:rgb(240, 236, 236);
text-align: center;
border-width: 10px;
filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
margin: 2rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
width: 20rem;
} 

.sizeImg{
    width: 20rem;
    height: 25rem;
}

.containerItemList{
    display: inline-block;
  
 }

 .details{
    margin: 1rem;
    background-color: rgb(6, 30, 42);
    color:rgb(240, 236, 236) ;
    font-size: small;
    padding: 0.5rem;
 }

 .loading{

    
 }