
.loading {
    width: 50vw;
    height: 20%;
  }
  .loading:after {
    content: " ";
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 60px;
    text-align:center;
    padding:8px;
    box-sizing: border-box;
    border: 50px solid rgb(241, 233, 233);
    border-color: rgb(121, 129, 235) transparent rgb(34, 16, 192) transparent ;
    animation: loading 1s infinite;
  }
  @keyframes loading {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  